<!DOCTYPE html>
<html>
<head>
    <title>Quiz App</title>
     <link rel="stylesheet" href="index.css">
</head>
<body>
    <h1>Simple Quiz</h1>

    <form action="/submit" method="POST">
        
        <p>Q1: My name is Samrin? (yes/no)</p>
        <input type="text" name="q1" required>

        <p>Q2: Who is the current Secretary-General of the United Nations?</p>
        <input type="text" name="q2" required>

        <p>Q3: What is the capital city of Nepal?</p>
        <input type="text" name="q3" required>

        <br><br>
        <button type="submit">Submit</button>

    </form>
</body>
</html>
